{% extends 'base.html' %}

{% block title %}
    Create Profile Page
{% endblock title %}

{% block content %}

    {% if user.is_authenticated %}
    <h1>Create Profile Page</h1>

    <div class="form-group">
        <form method="POST" enctype="multipart/form-data"> <!-- enctype="multipart/form-data" is telling the form to accept file data -->
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Create Profile</button>
        </form>
    </div>
    {% else %}
        <h3>Please login to create profile!!</h3>
    {% endif %}

    <br><br><br>
    <a class="btn btn-dark" href="{% url 'blog-home' %}">Back to home</a>

{% endblock content %}


