{% extends 'base.html' %}

{% block title %}
    Create Blog Category
{% endblock title %}

{% block content %}

    {% if user.is_authenticated %}
    <h1>Add Blog Category</h1>

    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Add</button>
        </form>
    </div>
    {% else %}
        <h3>Please login to add a category!!</h3>
    {% endif %}

    <br><br><br>
    <a class="btn btn-dark" href="{% url 'blog-home' %}">Back to home</a>

{% endblock content %}

